#gameContainer{
    background-color: #3b3a44;
    border: var(--fbc-borders);
    padding: 0px 10px;
    border-radius: 10px;
    text-align: center;
    width: 90vw;
    height: 90vh;
}

#gameHeader{
    width: 100%;
    height: 20%;
}

#titleText{
    align-content: center;
    width: 59%;
    float: left;
    height: 80%;
}

#titleText h1{
    margin: auto;
}

#spaceLogo{
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    margin-bottom: -10px;
}

#playerDetails{
    width: 30%;
    float: right;
    height: 60%;
    padding-top: 3%;
    padding-right: 3%;
}

#welcomeText{
    font-weight: bolder;
    margin: 10px auto;
}

#buttonMenu{
    width: 100%;
    clear: both;
    border-color: var(--aurora-grey);
    border-width: 1px 0;
    border-style: solid;
    padding: 5px;
}

#buttonMenu .menuButton{
    background-color: var(--aurora-pink);
}

#buttonMenu .activeMenuButton{
    background-color: var(--aurora-green);
    color: var(--aurora-black);
}

#gameViews{
    max-height: 70vh;
    overflow-x: hidden;
}

#shipDetails{
    width: 50%;
    float: left;
}

#shipDetails td,th,table{
    border: var(--fbc-borders);
}

#waypointData{
    width: 50%;
    max-width: 50%;
    max-height: 100%;
    float: right;
}

.playerIcon{
    width: 16px;
    height: 16px;
}