/* container for all game content */
#gameContainer{
    background-color: #3b3a44;
    border: var(--fbc-borders);
    padding: 0px 10px;
    border-radius: 10px;
    text-align: center;
    width: 85vw;
    height: 90vh;
}

/* generic button styling */
.genericButton{
    background-color: var(--aurora-purple);
}

.activeGenericButton{
    background-color: var(--aurora-green);
    color: var(--aurora-black);
}

.fullWidthButton {
    width: 100%;
    height: 30px;
    margin: 0px 0px 5px 0px;
    background-color: var(--aurora-purple);
}

/* header information */
#gameHeader{
    width: 100%;
    height: 20%;
}

#titleText{
    align-content: center;
    width: 59%;
    float: left;
    height: 80%;
}

#titleText h1{
    margin: auto;
}

#spaceLogo{
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    margin-bottom: -10px;
}

#playerDetails{
    width: 30%;
    float: right;
    height: 60%;
    padding-top: 3%;
    padding-right: 3%;
}

#welcomeText{
    font-weight: bolder;
    margin: 10px auto;
}

.playerIcon{
    width: 16px;
    height: 16px;
}

/* navigation menu */
#buttonMenu{
    width: 100%;
    clear: both;
    border-color: var(--aurora-grey);
    border-width: 1px 0;
    border-style: solid;
    padding: 5px;
}



/* container for game pages */
#gameViews{
    max-height: 70vh;
    overflow-x: hidden;
}

/* ship information */
.shipInfoBox{
margin: auto;
padding: 1% 0;
}

.shipInfoBoxLeft{
    width: 68%;
    float: left;
    padding: 0 1%;

}

.shipInfoBoxRight{
    width: 28%;
    float: right;
    padding: 0 1%;

}

.shipInfoBox td,th,table{
    border: var(--fbc-borders);
}

.shipInfoBox td{
    padding: 5px;
}

/* contract information */
#contractDetails{
    min-width: 90%;
    margin: 0 5%;
}

#contractDetails td,th,table{
    border: var(--fbc-borders);
}

#contractDetails td{
    padding: 5px;
}

.menuButton{
    background-color: var(--aurora-pink);
}

.activeMenuButton{
    background-color: var(--aurora-green);
    color: var(--aurora-black);
}

.noWrap {
    white-space: nowrap; 
}

/* waypoint information */
#waypointDetails{
    min-width: 90%;
}

#waypointDetails td,th,table{
    border: var(--fbc-borders);
}

#waypointDetails td{
    padding: 5px;
}